.row-rented-nft {
  flex-wrap: wrap;
  justify-content: space-between;
}
.row-rent-selection::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.25);
}
.row-rent-selection a {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.active {
  color: white !important;
}
.row-rent-selection a::before {
  content: "";
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 4px;
  bottom: -1px;
  border-radius: 10px;
  left: 0;
  opacity: 0;
  background-image: linear-gradient(to right, #2e62ff 100%, #4b24dc 100%);
}
.active::before {
  opacity: 1 !important;
}
.desktop-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.mobile-row {
  display: none;
}
@media screen and (max-width: 540px) {
  .row-rented-nft {
    gap: 40px;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .desktop-row {
    display: none;
  }
  .mobile-row {
    display: block;
    width: 100%;
  }
  .mobile-slider-row {
    width: 100%;
  }
  .mobile-slider-row .splide__track {
    width: 100%;
  }
  .mobile-slider-row ul {
    display: flex;
    gap: 20px;
  }
}
