.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-app-cont {
  width: 100%;
  background-color: #13161e;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  min-height: 40vh;
  height: auto;
  padding-bottom: 3rem;
}
.top-app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 85%;
}
.top-app__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  padding-inline: 10px;
  gap: 40px;
}
.row-rent-selection,
.row-rented-nft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 40px;
  font-weight: 300;
  position: relative;
}

@media screen and (max-width: 876px) {
  .top-app {
    width: 100%;
  }
}
